

body {
	
}
#theme .tt-header--transparent .tt-header__tape {
 background: #000000!important; 
}
#theme .tt-header--style-01 li a {
 text-transform: uppercase; 
  font-weight: 400;
}
.tt-header__tape-text.hours {
 font-weight: bold!important; 
  color: #ff9c00!important;
}
.tt-footer__newsletter {
  max-width: 432px;
	margin: 0 auto;
}
#shopify-section-1521912536179 .row {
 max-width: 1200px; 
  font-size: .85em;
}
#theme .mfp-bg {
 opacity:.65!important; 
}

.tt-product__view-overlay .tt-product__hover::before {
 opacity:.25!important; 
  background-color: #0079b8!important;
}
#theme .tt-qv {
 background: #ffffff!important;
  color: #333333!important;
}
.tt-carousel-brands .slick-track {
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 0 0 auto;
  margin: 0 auto;
}
.tt-sr__text div, .tt-sr__text span {
 font-size: 45px; 
}
.tt-header__content .tt-header__logo img {
  -webkit-transition: width .5s; /* Safari */
    transition: width .5s;
}
.tt-header__content.tt-header__sticky .tt-header__logo img {
 width: 100px!important; 
  
}
.tt-shp-info__strong{
  font-family: 'Montserrat', sans-serif;
}
.tt-product__view-overlay .tt-product__hover::before {
 background: #fff!important;
  border: 1px solid #999;
  opacity: .5!important;
}
p,
.tt-header__menu,
.tp-revslider-mainul  {
 font-family: 'Muli', sans-serif; 
}
@media screen and (max-width: 480px) {
  body {
    
  }
  .tt-logo img {
	 	width: 160px!important;
 	}
  #theme .tt-header--transparent,
  .tt-header__content,
  #theme .tt-header--transparent .tt-header__sticky {
    background: #0076ba!important;
  }
  .tt-header.tt-header--transparent {
   height: auto; 
  }
  .tt-sr__text div, .tt-sr__text span {
    font-size: 18px; 
  }
  
}

/* home slider */
.tt-sr.revslider-initialised.tp-simpleresponsive {
	height: 30vh!important;
	@media only screen and (min-width: 768px) {
		height: 50vh!important;
	}
}
/* blog post grid */
#theme #shopify-section-1521916608690 {
		background: #f4f4f4;
		.row.tt-product-view {
			margin-left: 0;
			margin-right: 0;
		}
		.tt-product-view [class^='col-'],
		.tt-product__view-sheet .tt-product__hover,
		.tt-product {
			background: transparent;
		}
}
#theme .tt-product__content h3 {
	padding: 0 15px;
}
.tt-product__content h3 {
    margin: 0;
    font-size: 15px;
    line-height: 1.555;
    font-weight: 700;
}
.tt-product__price {
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}
@media only screen and (min-width: 768px) {
  .tt-post-grid__content {
      padding: 20px;
  }
  .tt-post-grid__title {
    font-size: 18px;
    line-height: 1.27;
  }
  .row.tt-product-view {
			margin-left: -15px;
			margin-right: -15px;
		}
  /* homepage feature products */
	#theme #shopify-section-1521916608690 {
		background: #f4f4f4;
		.tt-product,
		.tt-product__view-sheet .tt-product__hover,
		.tt-product-view [class^='col-'] {
			background: transparent!important;
		}
		.tt-page__title {
			a:link {
				color: inherit;
			}
		}
		.tt-product__image {
			border: 1px solid #e4e4e4;
		}
		
	}
}

@media (min-width: 1825px) {
	.container {
    width: 1370px;
    max-width: 100%;
	}

}




/* home carousel blog */
.tt-home__carousel-blog {
    margin-bottom: 50px;
}

/* collection landing page */
#cat-collections {
	.collection {
		margin-bottom: 2rem;
	}
}
.moa-promobox__content {
	text-align: center;
	width: 100%;
	
	img, svg {
		display: block;
		width: 100%;
		border: 1px solid #e4e4e4;
	}
}



#shopify-section-1521911751417 {
	@media screen and ( min-width: 768px ) and ( max-width: 1024px ) {
		.tt-shp-info.tt-shp-info__design-01 .tt-shp-info__strong {
    	font-size: 12px;
		}
	}
	
	
}

@media only screen and (min-width: 1025px){
	.tt-post-head__title {
    font-size: 40px;
    line-height: 1.216;
	}
}


/* collection sort/filter bar */
.tt-listing-page__view-options {
	padding-top: 15px;
	padding-bottom:15px;
	border: 1px solid #e4e4e4;
	border-width: 1px 0 1px 0;
}

#shopify-section-1504161678752 {
	
}


.tt-sr__text div, .tt-sr__text span {
    font-size: 25px;
}

@media only screen and (max-width: 1024px) {
		.tt-header__sidebar {
			height: 46px;
		}
		.tt-header__btn {
    width: 62px;
    min-height: 46px;
	}
}

/* 4 homepage logos */
#shopify-section-1524073849903 {
	img {
		width: 100%!important;
		min-height: auto!important;
		height: auto!important;
	}
	.col-md-3 {
		@media (max-width: 768px) {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}